.Button {
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
  background-color: white;

  &__red {
    border: 1px solid rgba(210, 25, 25, 0.5);
    color: #d21919;

    &:hover {
      background-color: rgba(210, 25, 25, 0.05);
    }
  }

  &__orange {
    border: 1px solid rgba(210, 102, 25, 0.5);
    color: #d27c19;

    &:hover {
      background-color: rgba(210, 84, 25, 0.05);
    }
  }

  &__blue {
    border: 1px solid rgba(25, 118, 210, 0.5);
    color: #1976d2;

    &:hover {
      background-color: rgba(25, 118, 210, 0.05);
    }
  }
}
